*{
    margin: 0;
    padding: 0; 
    box-sizing: 0;
    font-family: 'Poppins', sans-serif; 
    color: #fefdfd; 
}

.sidebar{
    width: 150px;
    height: 100%;
    background: #3a3153;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 20px 30px;
}

.navbutton {
    list-style: none;
    position: relative;
}

.navbutton li{
    padding: 10px 0;
}

.navbutton li a{
    color: #fefdfd;
    text-decoration: none; 
    padding: 10px 14px;
    display: flex;
    align-items: center;
}

main{
    margin-left: 200px;
    height: 100%;
    padding: 5px 40px;
    z-index: 1;
    background-image: linear-gradient(rgba(1,1,1,0.90),rgba(1,1,1,0.90)), url('background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto auto;
}

details {/* Requirement-2.G */
    font: 16px "Open Sans", Calibri, sans-serif;
    width: 620px;
  }
  
  details > summary { /* Requirement-2.H */
    padding: 2px 6px;
    width: 15em;
    background-color: #ddd;
    border: none;
    box-shadow: 3px 3px 4px black;
    cursor: pointer;
    list-style: none;
  }
  
  details > p {
    border-radius: 0 0 10px 10px;
    background-color: #ddd;
    padding: 2px 6px;
    margin: 0;
    box-shadow: 3px 3px 4px black;
  }